.baslik1{
    font-family:sans-serif;
    background-color: orange;
    border: 1px solid black;
    text-align: center;
}

.menu-bar1>li>a{
    text-decoration: none;
    list-style-type: none;
    color:white;
    
}

.menu-bar1>li{
    display: inline;
    list-style-type: none;
    margin-right: 20px;
    background-color: #205375;
    color:white;
    border-radius: 3px;
    border: 1px solid white;
    padding: 5px;
}

.menu-bar1{
    text-align: center;
    margin-top: 50px;
}

p{
    margin-top: 50px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    color:black;
    font-weight: bold;
}

a{
    text-decoration: none;
}

.arac-list1{
    color:black;
    font-weight: bold;
    
}
/*
.arac-list1>li::before{
    content: "*";
}
*/

.araclar{
    margin-left: 710px;
}

img{
    
    display: block; 
    margin: auto;
    width: 400px;
    height: auto;
    margin-top: 80px;
}

.btn1{
    display: block; 
    margin: auto;
    border:1px solid #112B3C;
    color: white;
    background-color: #112B3C;
    padding: 8px;
    width: 100px;
    border-radius: 3px;
}

.baslik2{
    background-color:#205375;
    color: white; width: 130px;
    border-radius: 5px; padding:
    4px; margin-top: 50px;
    margin-left: 10px;
}